$primaryColor: rgb(146 59 252);
$secondaryColor: rgb(233 64 255);
$darkPurple: rgb(60 40 81);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
.page-wrapper{
    display: flex;
    gap: 50px;
    height: 100svh;

    .rounded-element1{
        height: 130%;
        width: 35vw;
        min-width: 400px;
        border-radius: 100vw;
        background: linear-gradient($secondaryColor, $primaryColor);
        position: relative;
        bottom: 40%;
        left: -5%;
    }

    .rounded-element2{
        height: 120%;
        width: 35vw;
        min-width: 400px;
        border-radius: 100vw;
        background-color: $primaryColor;
        opacity: 0.05;
        position: absolute;
        right: -5%;
        top: 10%;
    }
}
